<li>
  {{burger_name}}

  <button class="change-devour" data-id="{{id}}" data-newdevour="{{eaten}}">
    {{#if eaten}}EAT DA BURGER{{else}}EAT ANOTHER BURGER{{/if}}
  </button>

  <button class = "delete-burger" data-id="{{this.id}}"><i class="far fa-window-close"></i></button>
</li>